<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The NASA image of day</title>
  </head>
  <body>
    <p>One <%= theResult.from %> costs <%= theResult.value %> <%= theResult.to %>s</p>

  </body>
</html>
